<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
   
    <!-- include any necessary CSS or JavaScript files here -->
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/style.css">
    
    <title>{{title}}</title>


</head>
<body>
    <header>
        <!-- include your website logo, navigation menu, etc. here -->
        <nav>
            <a href="#" class="logo">YumBook</a>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Recipes</a></li>
                <li><a href="/contact">The Team</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{!-- this is where the content of each page will be inserted --}}
        {{{body}}}
    </main>

    <footer>
        <!-- include your footer content here -->
        <p>&copy; 2023 Yumbook</p>
    </footer>
</body>
</html>
