<div class="hero-section">
  <h1>Yumbook</h1>
  <p>Discover delicious recipes that you can make at home.</p>

  <div class = "hero-search-bar">
    <input type= "text" class="search-content" placeholder="Serach for a recipe" id = "search-input">
    <button type= "submit" class="search-btn" id="search-btn"><i class="fas fa-search"></i></button>
  </div>


<div class="recipe-result">
  <h2 class="title">Search Results:</h2>
  <div id="meal">
<!-- recipe search item -->
<div class = "recipe-item">
  <div class="recipe-img-box">
    <img class="recipe-img" src="/images/salad.jpg" alt="food">
  </div>
  <div class="recipe-name">
    <h3>Salad</h3>
    <a href="#" class="recipe-btn">Get Recipe</a>
  </div>
</div>
</div>

</div>
  <!-- recipe search item -->

  <!-- recipe search item -->
<div class = "recipe-item">
  <div class="recipe-img-box">
    <img class="recipe-img" src="/images/salad.jpg" alt="food">
  </div>
  <div class="recipe-name">
    <h3>Salad</h3>
    <a href="#" class="recipe-btn">Get Recipe</a>
  </div>
</div>
</div>

</div>
  <!-- recipe search item -->

  <!-- recipe search item -->
<div class = "recipe-item">
  <div class="recipe-img-box">
    <img class="recipe-img" src="/images/salad.jpg" alt="food">
  </div>
  <div class="recipe-name">
    <h3>Salad</h3>
    <a href="#" class="recipe-btn">Get Recipe</a>
  </div>
</div>
</div>

</div>
  <!-- recipe search item -->

</div>
<div class="featured-section">
  <h2>Popular Recipes</h2>
  <ul>
    {{#each popularRecipes}}
      <li><a href="/recipes/{{this.id}}">{{this.name}}</a></li>
    {{/each}}
  </ul>
  <a href="/recipes" class="btn btn-secondary">View all recipes</a>
</div>



<div class="categories-section">
  <h2>Browse by category</h2>
  <ul>
    {{#each categories}}
      <li><a href="/recipes?category={{this}}">{{this}}</a></li>
    {{/each}}
  </ul>
</div>
