<!-- recipe content -->
<div class="recipe-details-content">
    <h2 class="recipe-title">COMING SOON</h2>
  
    <p class="recipe-category">The ability to like and bookmark your favorite recipes from YUMBOOK is being added for future use.</p>
    {{!-- <div class="recipe-instructions">
        <h3>Instructions:</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div> --}}
    {{!-- <div class= "recipe-meal-image">
        <img src= "/public/images/salad.jpg" alt="">
    </div> --}}
</div>
