body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  
  header {
    background-color: #eee;
    padding: 10px 20px;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: bold;
  }
  
  nav ul li a:hover {
    color: #666;
  }
  
  main {
    padding: 20px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  .recipe {
    margin-bottom: 40px;
  }
  
  .recipe img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .recipe h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recipe p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .recipe ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .recipe ul li:before {
    content: "• ";
    color: #666;
    margin-right: 5px;
  }
  
  .recipe ul li {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  footer {
    background-color: #eee;
    padding: 10px 20px;
    text-align: center;
  }
  