<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <!-- include any necessary CSS or JavaScript files here -->
</head>
<body>
    <header>
        <!-- include your website logo, navigation menu, etc. here -->
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">Recipes</a></li>
                <li><a href="/contact">The Team</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {{!-- this is where the content of each page will be inserted --}}
        {{{body}}}
    </main>

    <footer>
        <!-- include your footer content here -->
        <p>&copy; 2023 Yumbook</p>
    </footer>
</body>
</html>
